<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PJModel.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>TestKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>TestKitModels.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>TestKitViews.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>TestProtobuf.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>TestStatic.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>TestSubKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AB3D86731DA6BA40001E1BBB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB3D86851DA6BA60001E1BBB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB3D86DF1DA6D062001E1BBB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB3D872F1DA7B158001E1BBB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB3D87411DA7B1C6001E1BBB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB3D874E1DA7B1D5001E1BBB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB9201361DAA547D0039DB12</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
